<% obj.reverse_each do |article| %>
    <div class="card card-stack" style="width: 70rem;">

      <div class="card-body">
        <h4 class="card-title card-title-link"><%= link_to article.title, article_path(article) %></h4>
        <p class="card-text">
          <%= truncate(article.description, length: 100) %>
        </p>

        <p class="card-text">
          <small class="text-muted">
            Created by: <%= article.user.username if article.user %>
            <%= time_ago_in_words(article.created_at) %> ago,
            last updated: <%= time_ago_in_words(article.updated_at) %> ago.
          </small>
        </p>
        <% if logged_in? && current_user == article.user || article.user.admin? %>
            <div class="articles-actions">
              <%= link_to 'Delete', article_path(article), method: :delete,
                          data:                                    {confirm: 'Are you sure you want to delete the article?'},
                          class:                                   'btn btn-sm btn-danger card-link' %>

              <%= link_to 'Edit', edit_article_path(article), class: 'btn btn-sm btn-primary' %>

              <%= link_to 'Show', article_path(article), class: 'btn btn-sm btn-success' %></div>
            </div>
        <% end %>
        </div>
    </div>
<% end %>
