<h2 align="center"><%= @article.title %> </h2>
<div class="card" style="width: 70rem;">
  <div class="card-body">
    <h4 class="card-title">Description:</h4>
      <p class="card-text">
        <%= simple_format(@article.description) %>
      </p>

      <p class="card-text">
        <small class="text-muted">
          Created by: <%= @article.user.username if @article.user %>
          <%= time_ago_in_words(@article.created_at) %> ago,
          last updated: <%= time_ago_in_words(@article.updated_at) %> ago.
        </small>
      </p>

    <%= link_to 'Delete', articles_path, method: :delete,
                data: {confirm: "Are you sure you want to delete the article?"},
                class: "btn btn-sm btn-danger card-link" %>

  <%= link_to 'Back to list', articles_path, class: "btn btn-sm btn-primary" %>

  <%= link_to 'Edit', edit_article_path, class: "btn btn-sm btn-success" %>

  </div>
</div>